*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:#f4f4f4;

color:#333;

scroll-behavior:smooth;

}

nav{

display:flex;

justify-content:space-between;

padding:20px 60px;

background:#222;

color:white;

position:sticky;

top:0;

}

nav ul{

display:flex;

gap:25px;

list-style:none;

}

nav a{

color:white;

text-decoration:none;

}

section{

padding:80px;

min-height:100vh;

}

#home{

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0066ff,#00c6ff);

color:white;

text-align:center;

}

#home h1{

font-size:60px;

}

#home h2{

margin:20px 0;

}

#home a{

background:white;

padding:15px 35px;

text-decoration:none;

border-radius:30px;

color:#0066ff;

font-weight:bold;

}

h2{

margin-bottom:30px;

}